{% extends 'main/base.html' %}

{% block title %}
     О нас
{% endblock %}

{% block content %}
    <h1 class="text-center">О проекте</h1>
    <div class="card">
      <div class="card-body">
          <h2>Участники:</h2>
          <p class="fs-3">Югансон Анна Райвовна</p>
          <p>Группа: 171-332</p>
          <p>Направление: веб-технологии</p>
          <p>Семестр: 7</p>
          <p>Дисциплина: веб-разработка</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
          <h2>О проекте:</h2>
          <p>В рамках дисциплины "Веб-разработка" был выполнен типовой проект с использованием фреймворка django.</p>
          <p>Был реализован следующий функционал:</p>
          <ol>
              <li>Авторизация и панель администратора</li>
              <li>CRUD методы</li>
              <li>Тестирование в Postman</li>
          </ol>
          <p>Трудозатраты:</p>
          <ol>
              <li>Посещение 3х лекций - 12 часов</li>
              <li>Изучение синтаксиса python (ни разу не писала на данном языке) - 2 часа</li>
              <li>Изучение документации по django - 6 часов</li>
              <li>Поиск видео-уроков - 1 час</li>
              <li>Установка, настройка django + разработка проекта - 20 часов</li>
              <li>Изучение документации по Postman - 2 часa</li>
              <li>Тестирование в Postman - 1 час</li>
              <li>Разработка отчета - 1 час</li>
              <li>Разработка презентации - 1 час</li>
              <li>Запись демонстрации работы - 1 час</li>
          </ol>
      </div>
    </div>
{% endblock %}
