{% extends 'main/base.html' %}

{% block title %}
     О нас
{% endblock %}

{% block content %}
    <h1 class="text-center">О проекте</h1>
    <div class="card">
      <div class="card-body">
          <h2>Участники:</h2>
          <p class="fs-3">Югансон Анна Райвовна</p>
          <p>Группа: 171-332</p>
          <p>Направление: веб-технологии</p>
          <p>Семестр: 7</p>
          <p>Дисциплина: веб-разработка</p>
      </div>
    </div>

    <div class="card">
      <div class="card-body">
          <h2>О проекте:</h2>
          <p>В рамках дисциплины «Веб-технологии» в 7 семестре необходимо было изучить новые технологии, которые можно было бы в будущем применить в разработке диплома. Такой технологией был выбран фреймворк Django, так как до этого я не изучала и не имела представление о языке Python. Для демонстрации приобретенных навыков была выбрана тема проекта - «Таск-менеджер», который включает в себя реализацию административной части и CRUD-методов (чтение, добавление, редактирование и удаление задач). Также было произведено последующее тестирование проекта в Postman.</p>
      </div>
    </div>
{% endblock %}
