{% extends 'main/base.html' %}

{% block title %}
     Создать задачу
{% endblock %}

{% block content %}
    <h1 class="text-center">Создать задачу</h1>
    <form method="post">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">Название</label>
            {{ form.title }}
        </div>
        <div class="mb-3">
          <label class="form-label">Описание</label>
            {{ form.task }}
        </div>
        <span>{{ error }}</span>
        <button type="submit" class="btn btn-primary">Добавить</button>
    </form>
{% endblock %}